<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= onlineCourses %>
    </title>
</head>

<body>
    <h2>Courses in my TODO list are: </h2>
    <% for (let course of onlineCourses) { %>
        <li>
            <%= course %>
        </li>
        <% } %>
</body>

</html>